@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

:root{
    --padding-container: 100px 0;
    --color-title: #00102E

}

body{
    font-family: 'Italiana', sans-serif;
    background-color: #d6cfc8;

    background-image: linear-gradient(to right, #2e1a060b, #2e1a060b 5px, #d6cfc8 5px, #d6cfc8 );
    background-size: 10px 100%;
 
   
    
}

.container{
    width: 90%;
    max-width: 1200px;
    min-width: 90px;
    margin: 0% auto;
    gap: 0.2rem;


}



.hero{
    width: 100%;
    height: 50px;
    min-height: 600px;
    position: relative;
    display: grid;
    grid-template-rows: 120px 1fr;
    color: #00102E;

}

.heros{
    width: 100%;

    position: relative;
    display: grid;
    grid-template-rows: 120px 1fr;
    color: #00102E;


}

.heros::before{
    content: "";
    position: absolute;
    top: 0%;
    right: 0%;
    width:  100%;
    height: 7em;
    background-color: #D6CFC8;

    
    z-index: -1;
    padding-left: 2em;
}

.heross{
    width: 100%;
    height: 50%;
    min-height: 100px;
    position: relative;
    display: grid;
    grid-template-rows: 120px 1fr;
    color: #00102E;
    align-items: center;


}

.heross::before{
    content: "";
    position: absolute;
    top: 0%;
    right: 0%;
    width:  100%;
    height: 7em;
    background-color: #D6CFC8;

    
    z-index: -1;
    padding-left: 2em;
}


.herosss{
    width: 100%;

    position: relative;
    display: grid;
    grid-template-rows: 120px 1fr;
    color: #00102E;
    align-items: center;


}

.herosss::before{
    content: "";
    position: absolute;
    top: 0%;
    right: 0%;
    width:  100%;
    height: 7em;
    background-color: #D6CFC8;

    
    z-index: -1;
    padding-left: 2em;
}
.hero::before{
    content: "";
    position: absolute;
    top: 0%;
    right: 0%;
    width:  100%;
    height: 7em;
    background-color: #D6CFC8;

    z-index: -1;
    padding-left: 2em;
}

/* Nav */

.nav{
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title{
    font-weight: 300;
}

.nav__link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 1em;
    color: #00102E;
    text-decoration: none;
}

.nav__items{
    list-style: none;
}


.nav__links{
    color: #00102E;
    text-decoration: none;
}

.nav__menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img{
    display: block;
    width: 30px;
}

.nav__close{
    display: var(--show, none) ;
}


/* Hero container */

.hero__container{


    max-width: 80%;

    
    margin: auto;
    --padding-container:0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    text-align: center;
}

.hero__title{
    margin: auto;
    font-size: 4rem;
    padding: 2em 0px;
    
    
}


.heros__container{
    padding: 10px ;
    margin: 25px;
    max-width: 100%;
    padding-bottom: 100px;
    padding-top: 100px;
    margin: auto;
    --padding-container:0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 2em;
    text-align: center;
}

.heros__title{
    font-size: 2rem;
    
    
}


  

.heross__container{
    padding: 10px ;
    margin: 25px;
    width: 41%;
    padding-bottom: 100px;
    padding-top: 100px;
    margin: auto;
    --padding-container:0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 2em;
    text-align: center;
}

.candado{
    width: 30%;
 
    margin: 50px;
    margin-bottom: 100px;
    max-width: 80%;
    margin: auto;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;



}




.heross__title{
    font-size: 2rem;
    
    
}

.herosss__container{
    padding: 10px ;
    margin: 25px;
    max-width: 80%;
    padding-bottom: 100px;
    padding-top: 100px;
    margin: auto;
    --padding-container:0;
    display: grid;
    grid-template-columns: 50%,50%;
    align-content: center;
    gap: 2em;
    text-align: center;
}

.imagenfondo{
    max-width:  90%;
    margin: auto;

    z-index: -3;


    
}

.imagenfondos{
    width: 100%;

}


.imagenfondo2{
    max-width:  30%;
    margin: auto;

    z-index: -3;


    
}

.imagenfondos2{
    width: 100%;

}
/*carrusel*/


 .fondo{
    margin: auto;
    
 }

.carrusel{
    margin: auto;
    width: 17em;
    max-width: 120em;
    padding: 0.5em;

    border-radius: 10px;
    background: #e0e0e0;
    box-shadow:  6px 6px 12px #bebebe, -1px -1px 6px #f9f0e2; 
    overflow: hidden;
    

}
.carrusel .grande{
    display: flex;
    width: 200%;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow:  6px 6px 12px #bebebe, -6px -6px 12px #f9f0e2;

    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    padding: 0.7em;
    padding-right: 3px;
    margin-left: 10px;
    transition: all .5s ease;

    transform: translateX(0%);
}
.carrusel .img{
    width: calc(100%/ 2 - 2em);
    min-height: 10vh;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow:  6px 6px 12px #bebebe, -6px -6px 12px #ffffff;
    

}
.carrusel .puntos{
    width: 100%;
    padding: .4em;
    margin: 1em 0 0;
    

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.carrusel .punto{
    width: 2em;
    height: 2em;
    margin: 1em 1em 0;
    padding: 1em;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  6px 6px 12px #bebebe, -6px -6px 12px #ffffff;
}

.carrusel .punto.activo{
    background-color: #00102E;
}

.beis{
    width: max-content;
    height: 30px;
    background-color: rgb(255, 255, 255);
    z-index: -1;
    opacity: 0;
}




.fondo2{
    margin: auto;
    
 }

.carrusel2{
    margin: auto;
    width: 17em;
    max-width: 120em;
    padding: 0.5em;

    border-radius: 10px;
    background: #e0e0e0;
    box-shadow:  6px 6px 12px #bebebe, -1px -1px 6px #f9f0e2; 
    overflow: hidden;
    

}
.carrusel2 .grande2{
    display: flex;
    width: 200%;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow:  6px 6px 12px #bebebe, -6px -6px 12px #ffffff;

    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    padding: 0.7em;
    padding-right: 3px;
    margin-left: 10px;
    transition: all .5s ease;

    transform: translateX(0%);
}
.carrusel2 .img2{
    width: calc(100%/ 2 - 2em);
    min-height: 10vh;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow:  6px 6px 12px #bebebe, -6px -6px 12px #ffffff;
    

}
.carrusel2 .puntos2{
    width: 100%;
    padding: .4em;
    margin: 1em 0 0;
    

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.carrusel2 .punto2{
    width: 2em;
    height: 2em;
    margin: 1em 1em 0;
    padding: 1em;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  6px 6px 12px #bebebe, -6px -6px 12px #ffffff;
}

.carrusel2 .punto2.activo2{
    background-color: #00102E;
}

.beis{
    width: max-content;
    height: 30px;
    background-color: rgb(255, 255, 255);
    z-index: -1;
    opacity: 0;
}







.imagenes{
    width: 94%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr));
    gap: 14em;
    margin: auto;
}





.imagenesropa{
    border-radius: 2px;
    width: 100%;
    height: auto;
    background: #e0e0e0;
    box-shadow:  6px 6px 12px #bebebe, -6px -6px 12px #ebe3db;
   
    

}


/*contacto*/

.contactocontainer{
    margin-top: 4em;
    width: 99%;
    display: flex;
    gap: 1em;
    margin-left: 6px;
    justify-content: center;


    
}

.textocontacto{
    width: 150px;
    text-align: center;
    padding-top: 3em;
    
}

.hola{
    font-size: 1.2em;
    color: #00102E;
}

.info__contenedor{
    width: 99%;
    display: flex;
    gap: 2em;
    justify-content: center;
    position: relative;
    margin-top: 20px;
}

.calle{
    color: #00102E;
    align-items: center;
    padding: 0.5em;
    margin-top: 16px;
    background-position: center;
    background-color: #B5BBC5;
    border-radius: 15px;
    
}

.info__numero{
    width: 94%;
    display: flex;
    gap: 2em;
    justify-content: center;
    position: relative;
    margin-top: 20px;
}
.numero{
    color: #00102E;
    margin-top: 10px;
    align-items: center;
    padding: 0.5em;
    background-position: center;
    background-color: #B5BBC5;
    border-radius: 15px;
}


/*MEDIA*/

@media (max-width:500px){
    .container{
        width: 95%;
        margin: auto;
    }



    .hero__title{
        font-size: 2rem;
    }

    .grande{
        padding-right: 31px;
    }

    .imagenfondo2{
        max-width:  90%;
    }


    .grande2{
        padding-right: 31px;
    }

    .imagenes{
        gap: 4em
    }

    .contactocontainer{
        gap: 0.2rem;
    }

    .heross__title{
        font-size: 1.8rem;
    }
    .heros__title{
        font-size: 1.8rem;
    }
}